# -----------------------------
# Ignore raw data folders
# -----------------------------
data/
raw/

# -----------------------------
# Ignore ALL csv files first
# -----------------------------
*.csv

# Allow sample data folder and its csv files
!Sample Data/
!Sample Data/*.csv

# -----------------------------
# Ignore unwanted root files
# -----------------------------
*.txt
Screenshot_*.png

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc

# -----------------------------
# OS junk
# -----------------------------
.DS_Store
Thumbs.db
__MACOSX/